/* Logo */
#logo h2 *{display:block;font-weight:400;font-size:1rem}
#logo h2 a{font-size:2.5rem}

/* main */
.jumbotron {margin-top:2rem;}

/* login - register */
@media screen and (min-width: 992px) {
    .formOnly > .row {min-height: 100vh}
}

/* footer */
footer {padding-top: 1.25rem; padding-bottom: 1.25rem; background-color: #2a2730; color:#99979c}
footer a {color:#FFF}
footer a:hover {color:#FFF}